name: Deploy Custom WP Content

on:
  push:
    branches:
      - main
    paths:
      - 'wp-content/themes/evershop-theme/**'
      - 'wp-content/plugins/media-from-url/**'
      - 'wp-content/plugins/evershop-integration/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4


      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add Known Hosts
        run: ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Set Target Directory Variable
        run: echo "TARGET_DIR=/var/www/jaycutlerr.uk/public_html/wp-content" >> $GITHUB_ENV

      - name: Sync Theme: evershop-theme
        run: |
          rsync -avz --delete -e "ssh -p 22" \
            ./wp-content/themes/evershop-theme/ \
            ubuntu@${{ secrets.EC2_HOST }}:${{ env.TARGET_DIR }}/themes/evershop-theme/

      - name: Sync Plugin: media-from-url
        run: |
          rsync -avz --delete -e "ssh -p 22" \
            ./wp-content/plugins/media-from-url/ \
            ubuntu@${{ secrets.EC2_HOST }}:${{ env.TARGET_DIR }}/plugins/media-from-url/

      - name: Sync Plugin: evershop-integration
        run: |
          rsync -avz --delete -e "ssh -p 22" \
            ./wp-content/plugins/evershop-integration/ \
            ubuntu@${{ secrets.EC2_HOST }}:${{ env.TARGET_DIR }}/plugins/evershop-integration/